/*header*/

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "EB Garamond", serif;
  background-color: #FFF4E0;
}

#menu {
  display: none;
}

.logoContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  width: 150px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 75px;
}

.mrname {
  font-size: 3rem;
  padding: 30px;
}

.mrname a {
  text-decoration: none;
  color: #270503;
}

.type {
  font-size: 1.5rem;
  color: #270503;
}

.mrname span {
  display: block;
  text-align: center;
}

.nav {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: end;
  gap: 10px;
}

.nav-list li {
  display: flex;
  align-items: end;
}

.nav-list a {
  text-decoration: none;
  color: #270503;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-left: 60px;
}

.nav-list a.active {
  color: black;
  background-color: #DDC7B4;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
}

#dark-mode-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: end;
  justify-content: end;
  margin-left: 20px;
}

#dark-mode-toggle img {
  width: 24px;
  height: auto;
  transition: transform 0.3s ease;
}

#dark-mode-toggle:hover img {
  transform: scale(1.1);
}

body.dark-mode {
  background-color: #270503;
  color: white;
}

body.dark-mode a {
  color: white;
}

body.dark-mode .cards-grid h2 {
  color: #270503;
}

body.dark-mode #dark-mode-toggle img {
  filter: brightness(0) invert(1);
}

.visit-message {
  padding: 8px 12px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  display: inline-block
}


#visit-message-container {
  list-style: none;
}

/*footer*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem;
  max-width: 95%;
  height: 200px;
  margin: 0 auto;
  font-family: sans-serif;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #DDC7B4;
  border-radius: .5rem;

}

.footer-content {
  flex: 1;
  margin-left: 70px;

}

.footer-content h2 {
  margin-bottom: 0.5rem;
  font-family: "EB Garamond";
  font-size: 2rem;
}

.footer-content a {
  text-decoration: none;
  color: #270503;
}

.footer-content p {
  margin: 0.1rem 0;
  color: #270503;
  font-size: 0.95rem;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-icons div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-icons a {
  margin: 0.25rem;
  text-decoration: none;
}

.footer-icons img {
  border-radius: 60%;
  padding: 5px;
  width: 44px;
  height: 44px;
  margin-right: 45px;
}

.footer-icons ul {
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  font-size: 0.85rem;
  text-align: center;
  color: #270503;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


/*home page*/

/*rotation*/

.hero {
  position: relative;
  width: 95%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-image: url('../images/mr1.webp');
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  transition: background-image 1s ease-in-out;
  margin-bottom: 60px;
  margin-left: 40px;

}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 3;
  max-width: 600px;
  padding: 1rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-btn {
  background-color: #5C2618;
  color: white;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 1rem;
  display: inline-block;
  transition: background-color 0.3s;
  font-size: 1.5rem;
}

.hero-btn:hover {
  background-color: #c9560f;
}

/*feature cookie*/

.product-heading {
  text-align: center;
  font-size: 2.5rem;
  color: #5C2618;
  margin-bottom: 1rem;
}

.product-week-section {
  display: grid;
  grid-template-columns: 300px 800px;
  grid-template-rows: auto auto auto auto;
  column-gap: 7rem;
  margin-left: 40px;
  max-width: 95%;
  padding: 2rem;
  background-color: #C3A694;
  border-radius: 10px;
  grid-template-areas:
    "image ft_invite"
    "image ex_description"
    "image button"
    "image .";
}

.product-week-section img {
  grid-area: image;
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  margin-left: 50px;
}

.product-week-section h3 {
  grid-area: ft_invite;
  color: #270503;
  font-size: 2.0rem;
  margin-bottom: 20px;
  text-align: justify;

}

.product-week-section p {
  grid-area: ex_description;
  color: #270503;
  margin-top: .5rem;
  font-size: 1.5rem;
  text-align: justify;
}

.order-now-btn {
  grid-area: button;
  background-color: #270503;
  color: #FFF4E0;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
}

.product-week-section button:hover {
  background-color: #c9560f;
}

.invite-line {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #6b3e26;
}

.line-1 {
  font-weight: bold;
}

.line-2 {
  font-style: italic;
  color: #a24e2e;
}

.line-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.line-4 {
  color: #7c3aed;
  font-size: 1.1rem;
}

/*reviews*/

.review-heading {
  text-align: center;
  font-size: 2.5rem;
  color: #5C2618;
  margin-top: 6rem;
  margin-bottom: 1rem;
}

.review-section {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #c9560f;
  max-width: 95%;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 2rem;
}

.review-card {
  background-color: #FFF4E0;
  border-radius: 12px;
  padding: 1.5rem;
  width: 400px;
}

.review-card h4 {
  margin: 0;
  font-size: 1.2rem;
}

.review-card .date {
  color: #5C2618;
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.review-card .stars {
  color: #270503;
  font-size: 1.1rem;
}

.review-card p {
  margin-top: 0.75rem;
  color: #444;
  font-size: 1rem;
}

.review-wrapper {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #c9560f;
  max-width: 95%;
  margin: 0px auto;
  border-radius: 10px;
}


/*about us*/

.fuscos {
  margin-bottom: 0.2rem;
  font-size: 3.5rem;
  color: #A93F19;
  text-align: center;
  padding: 0;
  margin-bottom: 0.5rem;
}

/*rotation family photos*/
.hero-flip-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto 150px auto;
  padding: 20px;
  perspective: 1000px;
  align-items: center;
}

.flip-card {
  width: 100%;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.flip-card.flip {
  transform: rotateY(180deg);
}

.flip-card-inner,
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.flip-card-front img,
.flip-card-back img {
  width: 120%;
  height: 120%;
  object-fit: cover;
}

.flip-card-back {
  transform: rotateY(180deg);
}

/*family description*/

.feature-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
  background-color: #42160E;
  border-radius: 2rem;
  max-width: 90%;
  margin: 6rem auto;
  height: 300px;
  text-align: justify;
}

.portrait {
  flex-shrink: 0;
  width: 220px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  transform: rotate(-5deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.feature-card.reverse {
  flex-direction: row-reverse;
  background-color: #BB9988;
  color: #270503;
}

.feature-card.reverse .portrait {
  transform: rotate(5deg);
}

.portrait img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
  transition: transform 0.4s ease-in-out;
}

.portrait img:hover {
  transform: translateY(-18px);
  box-shadow: 0 10px 20px #F6571A;
}

.feature-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #FFF4E0;
}

.feature-card.reverse .feature-text h2,
.feature-card.reverse .feature-text p {
  color: #270503;
}

.feature-text p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: sans-serif;
  color: #FFF4E0;
}

/*order*/

h1 {
  font-size: 4rem;
  text-align: center;
}

.cookie-card {
  display: flex;
  align-items: center;
  background-color: #EEDECA;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
  justify-content: space-between;
}

.cookie-img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 1rem;
}

.cookie-info {
  flex: 1;
}

.cookie-info h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #5C2618;
}

.cookie-info p {
  margin: 0.8rem 0;
  font-size: 1.3rem;

}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  background: #BB9988;
  border-radius: 999px;
  padding: 0.3rem 0.6rem;
}

.counter button {
  background: none;
  border: none;
  font-size: 1rem;
  color: #270503;
  cursor: pointer;
}

.counter span {
  font-weight: bold;
  font-size: 1rem;
  color: #270503;
}

.menu-layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 1400px;
  margin: auto;
}

.cookie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

dialog#cookie-dialog {
  padding: 1.5rem;
  border: none;
  border-radius: 20px;
  max-width: 500px;
  width: 90%;
  background-color: #FFF4E0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: "EB Garamond", serif;
  color: #270503;
  text-align: center;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
}

dialog#cookie-dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}


#close-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #270503;
}


#cookie-dialog h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: #270503;
}


#cookie-dialog p {
  margin-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 0 1rem;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


/* Cart*/

.empty-box {
  background-color: #e9d9c2;
  color: #3e2016;
  font-weight: bold;
  text-align: center;
  padding: 2rem 1rem;
  border-radius: 20px;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

#order-summary {
  background: #BB9988;
  border-radius: 12px;
  padding: 1.5rem;
  width: 100%;
  max-width: 350px;
  height: fit-content;
}

#order-summary h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #270503;
}

#order-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Each item */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
}

.cart-item-details {
  font-size: 0.95rem;
  font-weight: 500;
  color: #270503;
}

.cart-item-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 0.9rem;
  color: #270503;
}

#cart-count {
  color:#270503 ;
  padding: 2px 8px;
  border-radius: 50%;
  font-weight: bold;
}

.cart-section-header {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  margin: 1rem 0 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cart-group {
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.big-group {
  background-color: #EEDECA;
  color: #270503;
  text-align: center;
}

.mini-group {
  background-color: #EEDECA;
  color: #270503;
  text-align: center;
}

/* Total price section */

.subtotal {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 10px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color: #5C2618;
}

.subtotal strong {
  color: #270503;
  font-size: 1.3rem;
}

#order-total {
  font-size: 1.6rem;
  font-weight: bold;
  color: #270503;
 
}

/*table menu*/

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 19px;
}

thead {
  background-color: #42160E;
  font-weight: bold;
  color: #FFF4E0;
}


thead th {
  padding: 12px;
  text-align: center;
  border-bottom: 2px solid #270503;
}


tbody tr {
  border-bottom: 1px solid #270503;
}


tbody tr:nth-child(odd) {
  background-color: #BB9988;
}


td {
  padding: 12px;
  vertical-align: top;
}

td a {
  color: #270503;
  text-decoration: none;
  font-weight: 500;
}

td a:hover {
  text-decoration: underline;
}

.qty-input {
  width: 60px;
  padding: 5px;
  text-align: center;
  font-size: 1rem;

}

.view-toggle {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.view-toggle button {
  background: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.view-toggle button img {
  width: 40px;
  height: 40px;
}

.view-toggle button.active {
  background-color: #7F584B;
}

/*summary*/

.confirmation h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #270503;
}

.order-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem auto;
  max-width: 1200px;
}

.order-info {
  flex: 1 1 60%;
  background-color: #DDC7B4;
  padding: 2rem;
  border-radius: 1rem;
}

.order-sum {
  flex: 1 1 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.back-btn {
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 0;
  margin-right: 290px;
  padding: 0.75rem 1.25rem;
  background-color: #E6CFB2;
  color: #270503;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.checkout-btn {
  display:flex;
  padding: 0.75rem 1.25rem;
  background-color: #EEDECA;
  color: #270503;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}

.checkout-btn:hover {
  background-color: #DDC7B4;
}

textarea {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 1.2rem;
  resize: vertical;
  box-sizing: border-box;
}

form.fpr1 legend {
  font-size: 1.2rem;
}

form.fpr1 label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #270503;
}

form.fpr1 input {
  font-size: 20px;
}

.bfr1 {
  display: flex;
  gap: 4rem;
  margin-top: 1rem;
  margin-left: 2rem;
}

.bfr1 label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #3e2016;
}

.cart-section-header {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  margin: 1rem 0 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #eedeca;
  color: #270503;
  text-align: center;
}

/*confirmation*/

.confirmation-wrapper {
  max-width: 800px;
  margin: 0 auto 20px;
  background-color: #EEDECA;
  border-radius: 12px;
  padding: 2rem;
}

.thank-you h1 {
  color: #A93F19;
  font-size: 4rem;
}

.thank-you p {
  color: #270503;
  font-size: 1.6rem;
  text-align: justify;
}

.pickup-info {

  border-radius: 8px;
  margin: 1rem 0 0.5rem;
  padding: 20px;
  border: 4px solid #42160E;
}

.pickup-info legend {
  color: #5C2618;
  font-size: 1.8rem;
}

.pickup-info p {
  font-size: 1.4rem;
}

.user-info{
  background-color: #FFF4E0;
  border-left: 5px solid #d44c00;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  color: #270503;
}

.order-summary {

  border-radius: 8px;
  margin: 1rem 0 0.5rem;
  padding: 20px;
  border: 4px solid #42160E;
}

.order-summary legend {
  color: #5C2618;
  font-size: 1.8rem;
}

.order-summary p {
  font-size: 1.9rem;
  text-align: end;
}

.payment-info {
  border-radius: 8px;
  margin: 1rem 0 0.5rem;
  padding: 20px;
  border: 4px solid #42160E;
}

.payment-info legend {
  color: #5C2618;
  font-size: 1.8rem;
}

.payment-info p {
  font-size: 1.4rem;
}

.bank-info {
  background-color: #FFF4E0;
  border-left: 5px solid #d44c00;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  color: #270503;
}
.bank-info h3 {
  margin-top: 0;
  color: #5C2618;
}

section {
  margin-bottom: 3rem;
}

.cookie-summary {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  flex-wrap: wrap;
  max-width: 1200px;
}

.cookie-box-group {
  background-color: #FFF4E0;
  border-left: 5px solid #d44c00;
  border-radius: 12px;
  padding: 1.5rem;
  flex: 1 1 400px;
  max-width: 500px;
}

.cookie-box-group h3 {
  color: #5C2618;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.cookie-list {
  list-style: none;
  padding: 0;
}

.cookie-list li {
  border-bottom: 1px solid #ccc;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-details {
  font-weight: bold;
  color: #270503;
}

.cart-item-controls span {
  margin-left: 1rem;
}

.total-line {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.comments {

  border-radius: 8px;
  margin: 1rem 0 0.5rem;
  padding: 20px;
  border: 4px solid #42160E;
}

.comments label {
  color: #5C2618;
  font-size: 1.8rem;
}

.comments p {
  font-size: 1.4rem;
}

.com1 {
  background-color: #FFF4E0;
  border-left: 5px solid #d44c00;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 10px;
  color: #270503;
}
.com1 h3 {
  margin-top: 0;
  color: #A93F19;
}

