
@media (max-width: 640px) {
  /* Header */
  #menu {
    display: flex;
    font-size: 40px;
    background: none;
    border: none;
    color: #270503;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 5%;
    z-index: 1001;
  }

  #menu::before {
    content: "☰";
  }

  #menu.open::before {
    content: "✖️";
  }

  #animeteme {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #FFF4E0;
  }

  #animeteme.open {
    height: 200px;
    width: 300px;
    max-height: 200px;
    padding: 60px 0;
  }

  #animeteme ul {
    list-style: none;
    padding: 20px;
    gap: 25px;
    flex-direction: column;
  }

  .logoContainer {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }

  .logo {
    width: 60px;
    height: 60px;
    padding: 5px;
    margin-left: 0;
    border-radius: 40px;
  }

  .mrname {
    font-size: 1.8rem;
    padding: 10px;
    text-align: center;
  }

  .mrname a {
    text-decoration: none;
    color: #270503;
  }

  .type {
    font-size: 1rem;
    color: #270503;
  }

  .mrname span {
    display: block;
    text-align: left;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: stretch;
    gap: 5px;
    padding: 10px;
  }

  .nav-list li {
    display: block;
  }

  .nav-list a {
    text-decoration: none;
    color: #270503;
    font-weight: bolder;
    font-size: 1rem;
    margin-left: 0;
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav-list a.active {
    color: black;
    background-color: #DDC7B4;
    font-weight: bold;
    border-radius: 0;
    padding: 8px;
  }

  #dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  #dark-mode-toggle img {
    width: 20px;
    height: auto;
    transition: transform 0.3s ease;
  }

  #dark-mode-toggle:hover img {
    transform: scale(1.1);
  }

  .visit-message {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
  }

  #visit-message-container {
    list-style: none;
  }

  /* Footer */
  .footer {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    max-width: 95%;
    height: 400px;
    margin: 1rem auto;
    font-family: sans-serif;
    gap: 1.5rem;
    background-color: #DDC7B4;
    border-radius: .5rem;
  }

  .footer-content {
    flex: none;
    margin-left: 0;
    text-align: center;
  }

  .footer-content h2 {
    margin-bottom: 0.3rem;
    font-family: "EB Garamond";
    font-size: 1.5rem;
  }

  .footer-content a {
    text-decoration: none;
    color: #270503;
  }

  .footer-content p {
    margin: 0.1rem 0;
    color: #270503;
    font-size: 0.9rem;
  }

  .footer-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1rem;
  }

  .footer-icons div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  .footer-icons a {
    margin: 0.1rem;
    text-decoration: none;
  }

  .footer-icons img {
    border-radius: 60%;
    padding: 5px;
    width: 36px;
    height: 36px;
    margin-right: 0;
  }

  .footer-icons ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
    font-size: 0.8rem;
    text-align: center;
    color: #270503;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.8rem;
  }
}
