/* general */

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Roboto", serif;
    background-color: #E2D6A2;
}

#menu {
    display: none;
}

.logoContainer {
    display: flex;
    gap: 20px;
    background-color: #EB7C55;
    flex-wrap: wrap;
    justify-content: center;
}

.logo {
    width: 150px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 75px;
}

.chamber {
    font-size: 3rem;
    padding: 30px;
    color: #2C1607;
}

.type {
    font-size: 1.5rem;
    color: #2C1607;
}

.chamber span {
    display: block;
    text-align: justify;
}

.nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}

.nav-list {
    display: flex;
    list-style: none;
    align-items: end;
    gap: 10px;
}

.nav-list li {
    display: flex;
    align-items: end;
}

.nav-list a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-left: 60px;
}

.nav-list a.active {
    color: black;
    background-color: #ebc069;
    font-weight: bold;
    border-radius: 4px;
    padding: 5px 10px;
}

#dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-left: 20px;
}

#dark-mode-toggle img {
    width: 24px;
    height: auto;
    transition: transform 0.3s ease;
}

#dark-mode-toggle:hover img {
    transform: scale(1.1);
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode a {
    color: white;
}

body.dark-mode .cards-grid h2 {
    color: black;
}


.footer {
    background-color: #EB7C55;
    padding: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1200px;
}

.footer-info {
    text-align: left;
    font-size: 18px;
    color: #000;
}

.footer-info p {
    margin: 3px 0;
}

.footer-icons {
    display: flex;
    gap: 15px;
}

.footer-icons img {
    width: 50px;
    height: 50px;
}


.footer-credits {
    text-align: right;
    font-size: 18px;
    color: #000;
}

.footer-credits p {
    margin: 3px 0;
}

footer.footer {
    min-height: 100px;
}

.last-modified {
    font-style: italic;
    font-size: 18px;
}

/* directory */

h1 {
    text-align: center;
    padding: 30px;
}

#cards section {
    border-radius: 13px;
    padding: 20px;
    background-color: #EBC069;
    width: 310px;
    height: 250px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#cards img {
    width: 160px;
    height: auto;
}

#cards p {
    font-size: 0.85rem;
    text-align: center;
    line-height: 0%;
    color: black;
}

#cards p a {
    color: black;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#cards a {
    display: inline-block;
    word-break: break-word;
}

#cards website-link:hover {
    text-decoration: underline;
}

#business-table-container {
    width: 90%;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 60px;
    border: 2px solid #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

thead {
    background-color: #f1a27e;
    font-weight: bold;
}


thead th {
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid black;
}


tbody tr {
    border-bottom: 1px solid black;
}


tbody tr:nth-child(odd) {
    background-color: #8ab17d;
}


td {
    padding: 12px;
    vertical-align: top;
}

td a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

td a:hover {
    text-decoration: underline;
}

.view-toggle {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.view-toggle button {
    background: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.view-toggle button img {
    width: 40px;
    height: 40px;
}

.view-toggle button.active {
    background-color: #8AB17D;
}

/* home page*/

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    text-align: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
}

.container h2 {
    color: black;
    background-color: #2A9D8F;
    padding: 20px 40px;
    font-size: 28px;
    border-radius: 8px;
    max-width: 90%;
    margin-top: 0;
}

.container p {
    color: black;
    background-color: #EB7C55;
    padding: 20px 40px;
    font-size: 24px;
    border-radius: 8px;
    max-width: 90%;
    margin-top: 0;
}

.button2 {
    background-color: #ebc069;
    font-size: 20px;
    text-decoration: underline;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
    padding: 15px 30px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button2:hover {
    background-color: #e0a800;
    cursor: pointer;
}

.infoDisplay {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.infoDisplay>div {
    background-color: #8ab17d;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.events {
    flex: 2;
    margin: 0 10px;
    height: 400px;
}

.cardWeather,
.forecast {
    flex: 1;
    margin: 0 10px;
}

.infoDisplay h2 {
    background-color: #2A9D8F;
    color: black;
    padding: 10px;
    text-align: center;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.event-card {
    display: flex;
    align-items: flex-start;
    background-color: #A2B679;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.date-container {
    border: 3px solid black;
    padding: 5px;
    text-align: center;
    margin-right: 30px;
    margin-top: 15px;
}

.month {
    font-size: 1.2rem;
}

.day {
    font-size: 1.5em;
    font-weight: bold;
}

.year {
    font-size: 1.2em;
}

.event-details {
    display: flex;
    flex-direction: column;
}

.event-name {
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.event-time {
    font-size: 0.9em;
    margin: 0;
}

.cardWeather img {
    display: block;
    margin: 10px auto;
    max-width: 100px;
}

.cardWeather p {
    margin: 5px 0;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}

.forecast p {
    margin: 5px 0;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    line-height: 90px;
}

h3 {
    text-align: center;
    font-size: 2rem;
    background-color: #2a9d8f;
    margin-left: 70px;
    width: 90%;
    padding: 20px;
}

/*join*/

.joinContainer {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 40px
}

.joinContainer>div {
    background-color: #8ab17d;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.membership-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 400px;
    margin-left: 60px;
    margin-right: 70px;

}

.membership-box {
    background-color: #E2D6A2;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    border: 1px solid black;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    animation: cardEntrance 0.8s ease-out forwards;
}

.membership-box:nth-child(2) {
    animation-delay: 0.2s;
}

.membership-box:nth-child(3) {
    animation-delay: 0.4s;
}

.membership-box:nth-child(4) {
    animation-delay: 0.6s;
}

.membership-box:nth-child(5) {
    animation-delay: 0.8s;
}

.membership-box h3 {
    margin-bottom: 50px;
}

@keyframes cardEntrance {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.membership-box button {
    position: absolute;
    right: 20px;
    bottom: 10px;
    padding: 8px 16px;
    font-size: 18px;
    border: 1px solid #333;
    background-color: #264653;
    cursor: pointer;
    color: white;
    border-radius: 8px;
}

.membership-box button:hover {
    background-color: #e76f51;
}

.form {
    background-color: #f7be5c66;
    width: 1800px;
    margin-left: 20px;
}

.form label {
    display: block;
    font-size: 20px;
    color: black;
    padding-top: 20px;
    margin: .1rem 1rem 1rem 3rem;
}

.form h2 {
    text-align: center;
    font-size: 30px;
}

.form input[type=text],
input[type=tel],
input[type=email],
select {
    display: block;
    padding: .5rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 15px;
    color: #3D405B;
    width: 650px;
    height: 35px;
}

.form textarea {
    display: block;
    padding: .5rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: #555;
    font-size: 15px;
    color: #3D405B;
    width: 650px;
}

.form.input:required {
    border-left-color: #d70000;
}

.form input:focus {
    border-left-color: black;
    outline: none;
}

.form input:required:valid {
    border-left-color: green;
}

.form input[type=submit] {
    border: none;
    text-align: center;
    background-color: #3D405B;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0 2rem 32rem;
    font-size: 1.2rem;
    -webkit-appearance: none;
    appearance: none;
}


input:-webkit-autofill {
    -webkit-text-fill-color: #3D405B;
}

.phrase {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    animation: fadeInModal 0.3s ease-out;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

#dialog-content {
    font-size: 1.5rem;
    color: #333;
}

#dialog-content h3 {
    margin-top: 0;
    font-size: 2rem;
}

#dialog-content ul {
    margin: 10px 0;
    padding-left: 20px;
}

#dialogBox2 button {
    margin-top: 20px;
    margin-left: 150px;
    background-color: #8FC0A9;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;

}

#dialogBox2 button:hover {
    background-color: #6da090;
}

@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    .joinContainer {
        display: flex;
        gap: 40px;
        align-items: flex-start;
    }

    .form {
        flex: 1;
    }

    .membership-container {
        flex: 1;
    }
}

.thanks h2 {
    text-align: center;
    font-size: 30px;
}

.thanks p {
    font-size: 20px;
    text-align: center;
}

#results {
    background-color: #BABB74;
    padding: 20px;
    border-radius: 12px;
    max-width: 1000px;
    margin: 40px auto;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    width: 900px;
    text-align: center;
}

#results h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    margin-right: 60px;
}

#results p {
    margin: 10px 0;
}

#results strong {
    color: black;
}

#results em {
    color: #555;
    font-style: italic;
}

/* discover*/

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 1025px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cards-grid section {
    background-color: #f9f9f9;
    border: 5px solid #e76f51;
    border-radius: 12px;
    padding: 15px;
    transition: transform 0.3s ease;

    display: grid;
    grid-template-areas:
        "name"
        "image"
        "description"
        "address"
        "button"
    ;
}

.cards-grid section>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.cards-grid section:hover {
    transform: scale(1.01);
}

.cards-grid img {
    border-radius: 8px;
    width: 100%;
    grid-area: image;
}

.cards-grid h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 10px;
    grid-area: name;
}

.cards-grid address {
    font-style: italic;
    margin-top: 0.5rem;
    color: #333;
    grid-area: address;
}

.cards-grid p {
    line-height: 1.4;
    color: #444;
    grid-area: description;
}


.cards-grid button {
    align-self: center;
    margin-top: 1rem;
    padding: 0.6rem 10.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    background-color: #2a9d8f;
    color:black;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-area: button;
}

.cards-grid button:hover {
    background-color: #8AB17D;
}