/*General*/
@media (max-width: 768px) {
    #menu {
        display: block; 
        font-size: 40px;
        background: none;
        border: none;
        color: black;
        cursor: pointer;
        align-self: center;
        position: absolute; 
        right: 20px;
        top: 50%; 
        transform: translateY(-50%); 
        z-index: 1000; 
    }
    
    #menu::before {
        content:"☰";
    }
    
    #menu.open::before {
        content: "✖️";
    }

    .header{
        padding: 15px 20px;
    }

    .logoContainer {
        background-color: #EB7C55;
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        padding: 15px 20px; 
        gap:15px;
        position: relative;
    }
    
    .logo {
        width: 180px;
        margin-top: 30px;
    }

    .chamber {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        text-align: left;
        flex-grow: 1; 
        padding-left: 10px; 
    }
    
    .nav {
        display:block;
        width: 100%;
        padding: 10px;
  
    }
    
    #animeteme {
        max-height: 0;
        overflow: hidden;
        width: 100%;
        background-color: #2A9D8F;
        transition: 0.4s ease-out;
    }
    
    #animeteme.open {
        height: auto;
        max-height: 500px;
        padding: 10px 0;
    }
    
    #animeteme ul {
        list-style: none;
        padding:20px;
        gap: 10px;
        flex-direction: column; 
    }
    
    .nav li {
        text-align: center;
    }
    
    .nav a {
        color: black;
        text-decoration: none;
        font-size: 26px;
        padding: 10px 0;
    }

    .nav-list {
        align-items: center;
    }
    
    .nav a:hover {
        color: #ccc;
    }

    .footer {
        padding: 15px;
    }
    
    .footer-content {
        width: 100%;
    }
    
    .footer-info {
        font-size: 14px;
        font-weight: bold;
    }
    
    .footer-icons {
        gap: 12px;
    }
    
    .footer-icons img {
        width: 30px;
        height: 30px;

    }
    
    
    .footer-credits {
        font-size: 14px;
        font-weight: bold;

    }
    

    .last-modified {
        font-size: 14px;
        font-weight: bold;

    }

/*Directory*/

    #cards {
        grid-template-columns: 1fr; 
        padding: 10px;
    }

    #cards section {
        width: 100%; 
        padding: 15px;
        text-align: center;
        border-radius: 10px;
    }

    #cards section img {
        max-width: 90px;
        height: auto;
        margin-bottom: 10px;
    }

    #business-table-container {
        width: 95%;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 10px;
        border: 2px solid #000;
    }

    #business-table-container table {
        width: 100%;
        font-size: 12px;
    }

    #business-table-container {
        overflow-x: auto;
    }

    .view-toggle {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 10px;
    }

    .view-toggle button {
        padding: 5px;
        width: 60px;
        height: 60px;
        border-color: black;
    }
    
/*Home page */

.button2 {
    background-color: #ebc069;
    font-size: 23px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    font-weight: bolder;
}

#cards {
    grid-template-columns: 1fr; 
    padding: 10px;
}

#cards section {
    width: 100%; 
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

#cards section img {
    max-width: 90px;
    height: auto;
    margin-bottom: 10px;
}

.infoDisplay {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10px;
  }
  
.infoDisplay > div {
    background-color: #8ab17d;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box; 
    margin-bottom: 20px;
}

h3{
    width: 80%;
    margin-left: 54px;
}